.gnb-container {
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  background-color: white;
}

.gnb-column__left {
  min-width: 110px;
}

.gnb-column__center {
  width: 400px;
}

.gnb-input-search {
  width: calc(100% - 40px);
  border: solid 1px #e7e7e7;
}

.gnb-column__right {
  display: flex;
  justify-content: flex-end;
  min-width: 130px;
}

.gnb-btn-hamburder,
.right,
.gnb-current-user {
  margin: 0px 6px;
}
