.gnb-container {
  width: 100%;
  height: 3.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 14px;

  background-color: white;
}

.gnb-container i {
  color: var(--darkGray);
  font-size: 18px;
}

.gnb-logo i {
  color: var(--youtube);
  font-size: 22px;
}

.gnb-logo {
  margin-left: 4px;
  font-size: 22px;
}

/* gnb 왼쪽 */
.gnb-column__left {
  min-width: 180px;
  display: flex;
  justify-content: flex-start;
}

/* gnb 중앙 */
.gnb-column__center {
  width: 600px;
  display: flex;
  align-items: center;
}

.gnb-input-search {
  width: calc(100% - 100px);
  height: 30px;
  border: solid 1px var(--platinum);
  padding-left: 6px;
  font-size: 16px;
}

.gnb-input-search::placeholder {
  color: var(--silver);
}

.gnb-btn-search__box {
  width: 60px;
  height: 30px;
  border: solid 1px var(--platinum);
  background-color: #f1f1f1;
}

.gnb-btn-search__box i {
  color: var(--silver);
  font-size: 16px;
}

.gnb-btn-search__box:hover {
  background-color: #e7e7e7;
}

.gnb-btn-search__box:hover i {
  color: var(--darkGray);
}

.gnb-column__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 180px;
}

.gnb-btn-hamburder,
.right,
.left {
  margin: 0px 14px;
}
