.side-nav__list,
.side-nav__list--hidden {
  background-color: white;
  width: 13.75rem;
  height: 100vh;
  overflow: scroll;
}

.side-nav__ul {
  padding: 0.625rem 0rem;
}

.side-nav__category,
.side-nav__link,
.side-nav__footer {
  width: 100%;
  padding-left: 1.5rem;
  font-size: 13px;
  margin: 10px 0px;
  color: var(--darkGray);
}

.side-nav__link a {
  font-weight: 600;
  margin-right: 6px;
}

.side-nav__footer p {
  font-weight: 500;
  line-height: 1.4;
  color: var(--silver);
}

.link-empty {
  width: 100%;
  height: 4px;
}

.side-menu--active {
  background-color: var(--platinum50);
}

.side-menu,
.side-menu--active {
  height: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu:hover {
  background-color: var(--platinum);
}

.side-menu--active:hover {
  background-color: var(--platinum);
}

.side-menu__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.side-menu__icon i {
  color: var(--darkGray);
  font-size: 18px;
}

.side-menu--active i {
  color: var(--youtube);
}

.side-menu__title {
  width: calc(100% - 94px);
  line-height: 2.5rem;
  text-align: left;
  margin: 0rem 0.875rem;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.side-nav__divider {
  width: 100%;
  height: 1px;
  background-color: var(--platinum);
}

.side-menu__dotNew {
  width: 6px;
  height: 6px;
  background-color: royalblue;
  border-radius: 50%;
}

/* 탭 스타일 */

.side-nav__tab {
  width: 5rem;
  height: 100%;
  background-color: white;
}

.side-tab {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-tab:hover {
  background-color: var(--platinum);
  cursor: pointer;
}

.side-tab__icon {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}

.side-tab__icon--active {
  font-size: 1.125rem;
}

.side-tab__title {
  font-size: 0.75rem;
  color: var(--darkGray);
  margin-top: 0.625rem;
}

.side-tab__icon i {
  color: var(--darkGray);
}

.active,
.side-tab__icon--active i {
  color: var(--youtube);
}

/* 숨겨진 네비 */
.side-nav__list--hidden {
  background-color: white;
  position: absolute;
  top: 0;
  left: -13.75rem;
  z-index: 1;
  transition: 0.4s;
}

.side-nav__left {
  height: 3.75rem;
  display: flex;
  align-items: center;
  padding: 0px 14px;
}

.side-nav__left button {
  color: var(--darkGray);
  font-size: 18px;
}

/* 숨겨진 네비와 함께 출력하는 dim */
.hidden-dim {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
}
